.front-matter-card {
  margin-bottom: 20px;
}

.field-row {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.key-field {
  flex: 1;
  margin-right: 8px;
}

.value-field {
  flex: 2;
  margin-right: 8px;
}