<section class="front-matter-panel">
  <header class="front-matter-header">
    <h2>Metadata</h2>
    <p>Front matter for this markdown file.</p>
  </header>

  <form [formGroup]="frontMatterForm" class="front-matter-form" [class.disabled-form]="disabled">
    @for (field of fields; track field) {
      <div>
        @switch (field.type) {
          @case ('date') {
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>{{ field.label }}</mat-label>
              <input matInput [matDatepicker]="picker" [formControlName]="field.name">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          }
          @case ('string') {
            <mat-form-field appearance="outline" class="full-width">
              @if (!field.list) {
                <ng-container matLabel>{{ field.label }}</ng-container>
                <input matInput [formControlName]="field.name">
              }
              @if (field.list) {
                <ng-container matLabel>Tags</ng-container>
                <mat-chip-grid #chipGrid>
                  @for (tag of listValues[field.name]; track tag) {
                    <mat-chip-row
                      (removed)="removeTag(tag, field.name)">
                      {{tag}}
                      <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip-row>
                  }
                  <input matInput placeholder="New tag..."
                    [matChipInputFor]="chipGrid"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="addTag($event, field.name)">
                </mat-chip-grid>
                <ng-container matHint>Press Enter or comma to add tags</ng-container>
              }
            </mat-form-field>
          }
          @case ('boolean') {
            <div class="boolean-field full-width">
              <mat-slide-toggle [formControlName]="field.name" color="primary">
                {{ field.label }}
              </mat-slide-toggle>
            </div>
          }
        }
      </div>
    }
  </form>
</section>
