# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Mkdocs CMS CI

on:
  pull_request:
    branches: [ "main"]
    types: [opened, reopened, synchronize]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          go-version: '^1.25.6' # The Go version to download (if necessary) and use.
      - name: Download dependencies
        run: go mod download

      - name: Verify dependencies
        run: go mod verify

      - name: Build
        run: go build -v ./...

      - name: Run tests with coverage
        run: go test -v -race -coverprofile=coverage.out -covermode=atomic ./...

      - name: Run go vet
        run: go vet ./...

      - name: Install staticcheck
        run: go install honnef.co/go/tools/cmd/staticcheck@latest

      - name: Run staticcheck
        run: staticcheck ./...

      - name: SonarQube Scan
        uses: Sonarsource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        with:
          args: >
            -Dsonar.pullrequest.github.repository=${{ github.repository }}
            -Dsonar.pullrequest.branch=${{github.event.pull_request.head.ref}}
            -Dsonar.pullrequest.base=main
            -Dsonar.pullrequest.key=${{github.event.number}}
            -Dsonar.projectKey=mkdocs-cms
            -Dsonar.sources=.
            -Dsonar.exclusions=web/**
            -Dsonar.sourceEncoding=UTF-8
            -Dsonar.go.coverage.reportPaths=coverage.out
            -Dsonar.language=go
      - run: |
          go version
          go build -tags=prod -ldflags "-X main.Version=1.0.${{ github.run_number }}" -o mkdocs-cms main.go
          ls -l

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: '**/yarn.lock'
      - name: SonarQube Scan
        uses: Sonarsource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        with:
          args: >
            -Dsonar.pullrequest.github.repository=${{ github.repository }}
            -Dsonar.pullrequest.branch=${{github.event.pull_request.head.ref}}
            -Dsonar.pullrequest.base=main
            -Dsonar.pullrequest.key=${{github.event.number}}
            -Dsonar.projectKey=mkdocs-cms-ui
            -Dsonar.sources=./web/src
            -Dsonar.sourceEncoding=UTF-8
      - run: |
          cd web
          ls -al
          yarn global add @angular/cli@20.x
          yarn install
          yarn version --no-git-tag-version --new-version 1.0.${{ github.run_number }}
          ng build --configuration production --aot
      - run: |
          mkdir output
          cp mkdocs-cms output/mkdocs-cms
          cp -r web/dist/mkdocs-cms-ui output/mkdocs-cms-ui
          cd output
          tar -czvf mkdocs-cms-PR-${{ github.event.pull_request.number }}-1.0.${{ github.run_number }}.tar.gz *
          ls -al

      - name: artifacts_retention
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_PR_NUM: ${{ github.event.pull_request.number }}
        run: |
          yarn add @octokit/core @octokit/plugin-rest-endpoint-methods
          node .github/script/artifacts_retention.mjs
      - name: upload
        uses: actions/upload-artifact@v4
        with:
          name: mkdocs-cms-PR-${{ github.event.pull_request.number }}-1.0.${{ github.run_number }}.tar.gz
          path: output/mkdocs-cms-PR-${{ github.event.pull_request.number }}-1.0.${{ github.run_number }}.tar.gz